.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* color - #E51E26 */
/* #212121 */
/* red */

/* Urbanist */